:root {
  --cafeClaro: #D8CABB;
  --verdeClaro: #A4BC00;
  --verdeOscuro: #546F01;
  --sombra: #828282;
  --cafeTrans: rgba(168, 143, 107, 0.7);
  --fontTitulos: 'Oxygen', sans-serif;
  --fontContenido: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cafeClaro);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  margin-top: 88px;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.plantasCard {
  width: 896px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
  top: 0;
  background-color: var(--verdeClaro);
  box-shadow: 6px 6px 6px var(--sombra);
}

.contenedorPlanta {
  width: 100%;
  height: 392px;
  position: absolute;
  margin: 0;
  top: 0;
}

.contenedorPlanta > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.cardContent {
  padding: 15px 40px;
  font-size: 16px;
  font-family: var(--fontContenido);
  position: absolute;
  top: 432px;
}

 div > h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: var(--fontTitulos);
  padding: 0px 40px;
  position: absolute;
  top: 380px;
}

.barra {
  width: auto;
  height: 88px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
  z-index: 10000;

  background: var(--cafeTrans);
}

#header {
  position: sticky;
  top: 0px;
  left: 0px;
}

.left, .right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.barra .item {
  margin: auto;
  padding: 12px;

  font-family: var(--fontTitulos);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;

  color: var(--verdeOscuro);
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-text {
  font-size: 24px;
}
